﻿@using SmartDatabaseWebApplication.Classes;
@using SmartDatabaseWebApplication.Models;
@using SmartDatabaseWebApplication.Controllers;
@using System.Web.Mvc.Html;



<title>Admin Login Page</title>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/CSS/style.css" />
</head>
<html>


<body>

    
    
    <form action="/Admin/AdminPanelView" method="post">

        <h2>Log In</h2>
        <input type="text" class="text-field" placeholder="Username" id="inpAdminID" name="id" />
        <input type="password" class="text-field" placeholder="Password" id="inpAdminPass" name="password" />
        <input type="text" class="text-field" placeholder="Token" id="inpToken" name="token" />

        <input type="submit" value="Create Token" class="button" id="btnCreateToken" />
        <input type="submit" value="Log In" class="button" id="btnLogin" />
        
    </form>
    

</body>
</html>